.App-header {
	display: flex;
	align-items: center;
	border-bottom: medium solid rgb(221, 72, 72);
	border-bottom-color: rgb(221, 72, 72);
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(221, 72, 72);
  }
  
  .App-body {
	padding: 2% 3% ;
	height: 480px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .App-footer {
	text-align: center;
	border-top: solid rgb(221, 72, 72);
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .App-logo {
	width: 240px;
	height: 240px;
  }